#!/bin/bash

servers=("cass" "cirkus" "navi")

for server in "${servers[@]}"
do
    alias $server="mosh $server"
done

alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias reload-apache='sudo systemctl reload apache2.service'
alias reload-bind='sudo systemctl reload bind9.service'

alias etc-apache='cd /etc/apache2/sites-available/$1'
alias etc-uwsgi='cd /etc/uwsgi/apps-available/$1'

